{% extends 'account_base.html' %}
{% load static %}
{% block title %}Reset Password{% endblock %}
{% block content %}
    <form class="form-signin" method="POST">
        {% csrf_token %}
        <img class="mb-4" src="{% static 'img/logo.png'%}" alt="" width="72" height="72">

        <label for="inputPassword1" class="sr-only">New password:</label>
        <input type="password" id="inputPassword1" name="new_password1" class="form-control" placeholder="Password" required="">

        <label for="inputPassword2" class="sr-only">Password</label>
        <input type="password" id="inputPassword2" name="new_password2" class="form-control" placeholder="Password" required="">

      {% if form.errors %}
        <span class="response error"><i class="fas fa-exclamation-triangle"></i>
            {{form.errors}}
        </span>
      {% endif %}

        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>
{% endblock %}