{% extends 'account_base.html' %}
{% load static %}
{% block title %}Password Reset{% endblock %}

{% block content %}
    <div class="form-signin" >
        <img class="mb-4" src="{% static 'img/logo.png'%}" alt="" width="72" height="72">
        <div class="title-area">
            <h1>Change Password</h1>
            <p>Your password is now changed, Click <a href="{% url 'login' %}">here</a> to logon</p>
        </div>
    </div>

    {% if user.is_authenticated %}
    {% endif %}
{% endblock %}
