{% extends 'account_base.html' %}
{% load static %}
{% block content %}
<form class="white-block wow fadeIn" id="password_reset_form" method="post"
      action="{% url 'account_reset_password' %}">
    <h2>Change Password</h2>
    <div class="container">
        {% csrf_token %}
        <fieldset>
            {{ password_change_form.as_p }}
        </fieldset>
        <input id="request_type" name="request_type" , type="hidden">
    </div><!--/container -->
    <div class="button-icons form-actions">
        <a class="btn next change-password">Change Password <i class="fas fa-angle-right"></i></a>
    </div>
</form><!-- /white-block -->
{% endblock %}

{% block js_content %}
<script>
    $(document).on('click', '.change-password', function(e) {
    $(this).closest('form').submit();
});
</script>
{% endblock %