{% extends 'base.html' %}

{% block title %}Creat User{% endblock %}

{% block content %}
    <!--    if super admin load super admin content-->
    <!-- else -->

    {% include 'topbar.html' %}
    <div class="row">
        <span class="col-4">
        {% include 'sidebar.html' %}
        </span>
        <span class="col-8">
            <form class="" id="contact-us" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-3 form-group">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" value="{{profile_form.name.value}}" required>
                        </div>
                    </div>
                    <div class="col-3 form-group">
                        <div class="form-floating ">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Your Email" value="{{profile_form.email.value}}" required>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <input type="text" class="form-control" id="address" name="address" placeholder="address" value="{{profile_form.address.value}}" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <input type="tel" class="form-control" placeholder="Phone number" name="phone-number" id="phone-number" value="{{profile_form.telephone_number.value}}" required>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <input type="tel" class="form-control" placeholder="Password" name="password" id="password" value="{{profile_form.password.value}}" required>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <input type="file" class="form-control" name="customFile" id="" value="{{profile_form.image.value}}" />
                        </div>
                    </div>
                </div>
                {% if username_email_flag %}
                    <div class="row">
                        <div class="col-4" style="color:red;">
                            Username or email id already exist
                        </div>
                    </div>
                {% endif %}
                <div style="margin-top:5%;" class="col-4">
                    <button class="btn btn-primary w-100 py-3" type="submit">Add</button>
                </div>
            </form>
        </span>
    </div>
{% endblock %}