{% extends 'base.html' %}

{% block title %}Creat Staff{% endblock %}

{% load tags %}
{% block content %}
    <!--    if super admin load super admin content-->
    <!-- else -->

    {% include 'topbar.html' %}
    <div class="row">
        <span class="col-4">
        {% include 'sidebar.html' %}
        </span>
        <span class="col-8">
            <form id="contact-us" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-4 form-group">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" value="{{profile_form.name.value}}" required>
                        </div>
                    </div>
                    <div class="col-3 form-group">
                        <div class="form-floating ">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Your Email" value="{{profile_form.email.value}}" required>
                        </div>
                    </div>
                    <div class="col-3 form-group">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="address" name="address" placeholder="address" value="{{profile_form.address.value}}" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 form-group">
                        <div class="form-floating">
                            <input type="tel" class="form-control" placeholder="Phone number" name="phone-number" id="phone-number" value="{{profile_form.telephone_number.value}}" required>
                        </div>
                    </div>
                    <div class="col-3 form-group">
                        <div class="form-floating">
                            <input type="tel" class="form-control" placeholder="Password" name="password" id="password" value="{{profile_form.password.value}}" required>
                        </div>
                    </div>
                    <div class="col-3 first second">
                        <div class="form-group">
                            <input type="file" class="form-control" name="customFile" id="customFile" value="{{profile_form.image.value}}" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-5">
                        Department
                            <select name="department" class="custom-select mr-sm-2">
                                {% for department in department_list %}
                                    <option value="{{ department.id }}">
                                        {{department.name}}
                                    </option>
                                {% endfor %}
                            </select>
                    </div>
                    <div class="col-4 first second">
                        <div class="form-group">
                            Job Title
                            <input type="text" class="form-control" name="job_title" id="job_title" />
                        </div>
                    </div>
                </div>
                {% if username_email_flag %}
                    <div class="row">
                        <div class="col-4" style="color:red;">
                            Username or email id already exist
                        </div>
                    </div>
                {% endif %}
                <div style="margin-top:5%;" class="col-4">
                    <button class="btn btn-primary w-100 py-3" type="submit">Add</button>
                </div>
            </form>
        </span>
    </div>
{% endblock %}</title>
</head>
<body>

</body>
</html>