{% extends 'base.html' %}

{% block title %}Creat User{% endblock %}

{% block content %}
    <!--    if super admin load super admin content-->
    <!-- else -->

    {% include 'topbar.html' %}
    <div class="row">
        <span class="col-4">
        {% include 'sidebar.html' %}
        </span>
        <span class="col-8">
            <form method="post">
                {% csrf_token %}
                <div class="form-group col-8" style="padding-left: 0px;">
                    <label for="location">Location</label>
                    <input type="text" class="form-control" id="location" name="location" placeholder="location" value="{{property_form.location.value}}" required>
                </div>
                <button type="submit" class="btn btn-primary ">Submit</button>
            </form>
        </span>
    </div>
{% endblock %}