{% extends 'base.html' %}

{% block title %}Department{% endblock %}

{% block content %}
    <!--    if super admin load super admin content-->
    <!-- else -->

    {% include 'topbar.html' %}
    <div class="row">
        <span class="col-3">
        {% include 'sidebar.html' %}
        </span>
        <span class="col-8">
            <a class="btn btn-primary" style="margin-bottom:3%;" href="{% url 'hirearchy_create' %}" role="button">+ Add Department Hirearchy</a>
            <table class="table">
                <thead>
                <tr>
                  <th scope="col">id</th>
                  <th scope="col">Department</th>
                  <th scope="col">User</th>
                  <th scope="col">Job Title</th>
                  <th scope="col">Approval Level</th>
                  <th scope="col">Actions</th>
                </tr>
                </thead>
                {% for data in  department_hirearchy_list %}
                    <tbody>
                        <tr>
                          <th>{{ data.id }}</th>
                          <td >{{ data.department_key.name }}</td>
                          <td >{{ data.user.username }}</td>
                          <td >{{ data.user.job_title }}</td>
                          <td >{{ data.department_hirearchy_position }}</td>
                            <td>
                                <a href="{% url 'hirearchy_update' data.id %}">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                &nbsp
                                <a href="{% url 'hirearchy_delete' data.id %}">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>


        </span>
    </div>
{% endblock %}


{% block js_content %}
{% endblock %}